<div class="container">
    <div class="row">
        <div class="col-4">
          <form action="">
            <div class="form-group">
              <label for="opera">Operando A</label>
              <input type="number" name="opera" id="opera" class="form-control" placeholder="Operando A" [(ngModel)]="opera"/>
            </div>
            <div class="form-group">
              <label for="operb">Operando B</label>
              <input type="number" name="operb" id="operb" class="form-control" [(ngModel)]="operb">
            </div>
            <br>
            <button type="submit" class="btn btn-primary" (click)="sumar()">Sumar</button>
            <button type="submit" class="btn btn-danger" (click)="restar()">Restar</button>
          </form>
        </div>
      </div>
</div>